@import '../../vars.scss';

.item {
  border: 1px solid $gray;
  margin-bottom: 10px;

  &__content {
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }

  &__btns {
    display: flex;
  }
}
